.chatgpt-popup {
  position: fixed;
  bottom: 50px;
  right: 30px;
  width: 520px;
  z-index: 999;
  transition: all 0.5s ease-in-out;
  &.chatgpt-popup-hide {
    bottom: -700px;
    height: 550px;
  }
}

.chatgpt-setting {
  position: absolute;
  top: 15px;
  right: 45px;
  cursor: pointer;
  svg {
    fill: #333;
    color: #333;
    transition: all 0.3s ease-in-out;
  }
  &:hover {
    svg {
      fill: #666;
      color: #666;
    }
  }
}
.chatgpt-close {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  svg {
    fill: #333;
    color: #333;
    transition: all 0.3s ease-in-out;
  }
  &:hover {
    svg {
      fill: #666;
      color: #666;
    }
  }
}
